body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgb(0 0 0) 10%, rgba(0, 0, 0, 0) 30%);
    font-family: "Segoe UI";
    color: #ffffff;
}

nav {
    background-color: rgb(0,0,0,.9);
    position: fixed;
    padding: 5px 16px 5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top:0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

#main-section{
    background-image: url("./Imgs/HBOBackground2.jpg");  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 60px;
}   

#nav-logo{
    height: 32px;
    margin-right: 16px;
    padding: 4px 0;
}

.header-text{
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
}

#header-secondary{
    display: flex;
    align-items: center;
}

#header-secondary-buttons{
    display: flex;
    align-items: center;
}

a{
    white-space: nowrap;
}

.button-primary{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 24px;
    font-family: "Segoe UI";
    font-weight: 700;
    margin-left: 16px;
}

#button-primary-main{
    padding: 13px 24px;
    margin-top: 0;
}

#main-logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

#main-container{
    text-align: center;
    position: relative;
    margin-top: 320px;
}

p {
    font-size: 28px;
    margin-top: 0;
}

#price-bold {
    font-weight: 700;
}

button {
    background-color: rgb(0, 0, 0);
}       

/* #h2-container{
    text-align: center;
}

h2 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#plan-switcher-container{
    display: flex;

} */