body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Segoe UI";
    color: #ffffff;
}

nav {
    background-color: rgb(0, 0, 0, .9);
    position: fixed;
    padding: 5px 16px 5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1000;
}

#main-section {
    background-image: url("./Imgs/HBOBackground2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 60px;
    position: relative;
}

#main-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgb(0 0 0) 10%, rgba(0, 0, 0, 0) 30%);
    pointer-events: none;
}

#nav-logo {
    height: 32px;
    margin-right: 16px;
    padding: 4px 0;
}

.header-text {
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #ffffff;
    &:hover {
        cursor: pointer;
        background-color: rgba(64, 68, 89, .6);;
    }
}

#header-secondary {
    display: flex;
    align-items: center;
}

#header-secondary-buttons {
    display: flex;
    align-items: center;
}

a {
    white-space: nowrap;
    text-decoration: none;
}

.button-primary {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 24px;
    font-family: "Segoe UI";
    font-weight: 700;
    margin-left: 16px;
    &:hover {
        cursor: pointer;
        background-color: hsla(0, 0%, 100%, .75);;
    }
}

#button-primary-main {
    padding: 13px 24px;
    margin-top: 0;
}

.main-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    align-items: center;
    margin-top: 120px;
}

#main-container {
    text-align: center;
    position: relative;
    margin-top: 320px;
}

#price-info {
    font-size: 28px;
    margin-top: 0;
}

#price-bold {
    font-weight: 700;
}

button {
    background-color: rgb(0, 0, 0);
}

#h2-container {
    text-align: center;
}

h2 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#plan-switcher-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

#plan-switcher {
    background-color: rgba(128, 128, 128, 0.36);
    border-radius: 100px;
    margin-bottom: 30px;
}

.plan-switcher-button {
    width: 200px;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 12px;
    border-radius: 100px;
    box-sizing: border-box;
}

#plan-switcher-month {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#plan-switcher-year {
    background-color: rgba(128, 128, 128, 0);
    color: rgb(255, 255, 255);
    border: none;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-left: 220px;
    margin-bottom: 4px;
}

#plans {
    display: flex;
    gap: 0.5em;
    padding: 0px 15px;
    align-items: stretch;
}

.plan {
    color: #000000;
    background-color: #ffffff;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
}

.plan-padding {
    padding: 1.25em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h5 {
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: .75rem;
    color: rgba(0, 0, 0, .6);
}

h4 {
    font-size: 30px;
    text-align: left;
}

h3 {
    font-weight: 600;
    line-height: 1.35;
    margin: 0;
}

em {
    font-size: .875rem;
    font-weight: normal;
    color: rgba(0, 0, 0, .6);
}

.plan-select {
    background-color: #4F6984;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 13px 10px;
    border-radius: 8px;
    margin-left: 60px;
}

.plan-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.plan-price-container {
    display: flex;
    flex-direction: column;
}

.plan-saves {
    color: #4F6984;
    font-size: 0.9rem;
}

small {
    line-height: 1.6;
    font-size: 70%;
}

#small-text-container {
    padding: 0px 15px;
    margin: 20px 190px;
}

li {
    font-size: 0.875rem;
}

ul {
    padding: 0;
    list-style-type: none;
    &.question-answer {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        gap: 10px;
    }
}

.Checkmark::before {
    background-image: url(./Imgs/Checkmark.svg);
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.TV-Icon::before {
    background-image: url(./Imgs/TV-Icon.svg);
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.Download-Icon::before {
    background-image: url(./Imgs/Download-Icon.svg);
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}


.Headphones-Icon::before {
    background-image: url(./Imgs/Headphones-Icon.svg);
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

#help-info {
    color: #4f8bff;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#categories-header-container {
    padding: 60px 150px;
}

#categories-header {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    font-weight: 400;
}

.category-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    border: 1px solid rgb(0, 0, 0);
}

.category-name {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    z-index: 1;
}

.show-name {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: rgba(231, 231, 231, 0.8);;
    margin-top: 0;
    letter-spacing: 1px;
}

.original {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgba(231, 231, 231, 0.8);
    margin-bottom: 0;
    margin-top: 0;
}

#family-image {
    background-image: url(./Imgs/family.jpg);
}

#reality-image {
    background-image: url(./Imgs/reality.jpg);
}

#novelas-image {
    background-image: url(./Imgs/novelas.jpg);
}

#movies-image {
    background-image: url(./Imgs/movies.jpg);
}

#drama-image {
    background-image: url(./Imgs/drama.jpg);
}

#action-image {
    background-image: url(./Imgs/action.jpg);
}

#comedy-image {
    background-image: url(./Imgs/comedy.jpg);
}

#documentaries-image {
    background-image: url(./Imgs/documentaries.jpg);
}

#categories-container {
    display: flex;
    overflow-x: scroll;
}

#trailers-main-text {
    color: hsla(0, 0%, 100%, .8);
    font-size: xxx-large;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

.trailer-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
}

#trailers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.trailers-sub-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#trailers-suscribe-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 10px;
}

#trailers-suscribe-btn {
    padding: 10px 25px;
    font-size: 16px;
}

#featured-series-container {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    flex-direction: column;
}

#carrousel-header {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
}

#carrousel-indicators {
    display: flex;
    justify-content: center;
}

#carrousel-indicator-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
    gap: 10px;
    width: 50%;
    scrollbar-width: none;
    justify-content: flex-start;
    overflow: scroll;
    opacity: 1;
    white-space: nowrap;
    margin-top: 0;
}

ol li {
    font-size: 60px;
    padding: 0px 56px;
}

#carrousel-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.carrousel-images-sub-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.carrousel-image {
    width: 350px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
}

#questions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: #ffffff;
    width: 920px;
    padding: 15px 20px;
    border-radius: 8px;
}

.question-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    h3 {
        font-weight: 400;
        padding-bottom: 20px;
    }
}

.question-answer {
    font-size: 1.125rem;
    list-style: disc;
    li {
        font-size: 1.125rem;
    }
    ul li {
        font-size: 1.125rem;
        list-style: disc;
        margin-left: 25px;
    }
    em {
        color: #ffffff;
        font-size: 1.075rem;
    }
}

.question-answer::marker {
    font-size: 0.6em;
}

.question-answer ul li::marker {
    font-size: 0.6em;
}

svg{
    transform: rotate(90deg);
    fill: none;
    height: 36px;
    width: 29px;
    margin-top: 10px;
}

path{
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}